
<%= form_for(@recipe) do |f| %>

<% if @recipe.errors.any? %>

  <h4><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h4>
    <ul>
      <% @recipe.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>

    <%= f.label :name, "Recipe Name" %>
    <%= f.text_field :name %>

    <%= f.label :cook_time %>
    <%= f.text_field :cook_time %>

    <%= f.label :directions %>
    <%= f.text_area :directions, rows: 15 %>

      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    
<ol>
    <h3>Ingredients</h3>
   <p>  <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %> </p>
    <%= f.fields_for :ingredients, @recipe.ingredients.build do |ingredients_fields| %>
      <%= ingredients_fields.text_area :name, rows: 15 %>
    <% end %>
        

    <%= f.submit 'Submit'  %>
<% end %>