
<%= form_for(@recipe) do |f| %>

<% if @recipe.errors.any? %>

  <h4><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h4>
    <ul>
      <% @recipe.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>

    <%= f.label :name, "Recipe Name" %>
    <%= f.text_field :name %>

    <%= f.label :description, "Description" %>
		<%= f.text_area :description, rows: 5%>

    <%= f.label :cook_time %>
    <%= f.text_field :cook_time %>

    <%= f.label :directions %>
    <%= f.text_area :directions, rows: 10 %>

    
    

    <h3>Ingredients</h3>
    <div>
    <%= f.fields_for :recipe_ingredients, @ingredients do |recipe_ingredient| %>
    <div>
      Quantity: <%= recipe_ingredient.text_field :quantity %>
  
    Select Ingredient: <%= recipe_ingredient.collection_select :ingredient_id, Ingredient.order('name ASC').all, :id, :name, include_blank: 'Select Ingredient' %>
    <%= recipe_ingredient.fields_for :ingredient, @recipe.ingredients.build do |ingredient| %>
  <br>  Or Create New Ingredient: <%= ingredient.text_field :name %>
    <% end %>
    </div>
      <% end %>
   </div>
   
      
     
      

    <%= f.submit 'Submit'  %>
<% end %>