
<h2> Our Library of Recipes</h2>
<br> 


<% @recipes.each do |recipe| %>
    <h2><%= link_to recipe.name, recipe_path(recipe)%></h2>
    <% end %>
<br>
    <h3>  Recently Added Recipes: </h3> 
<% @recent_recipes.each do |recipe| %>
    <li>
   <h3> <%= recipe.name %> </h3> 
  </li>
   <%= link_to "click to view", recipe_path(recipe) %> 
   <% end %> 


<h3> Add a New Recipe </h3> 

<%= link_to "Add  Recipe", new_user_recipe_path %>

<%= link_to "Log out", signout_path %> 