<h1><%= @recipe.name %></h1>
	</div>
</div>
		
			<div ><strong>Created by: <%= @recipe.user.name %> 
		
	  
	  <h4>Ingredients</h4>
	  <% @recipe.ingredients.each do |ri| %>
	   <ul>
		   <li><%= ri.name %> </li> 
	   </ul>
	 <% end %> 
	 <h4>Directions </h4>
			<p><%= @recipe.directions %></p>
			
		<h4> Cook Time <h4> 
		<%= @recipe.cook_time %> 

		<h2>Comment(s)</h2>
		<% @recipe.comments.each do |comment| %>
			<%= comment.user.name %></strong> commented:<br>
			<%= comment.body %>
			<% end %>

		
      <h4>Add a comment:</h4>
        <%= form_for @comment, url: user_recipe_comments_path(@recipe.user, @recipe, @comment)  do |f| %>
           <p><%= f.text_area :body %></p>
          <button type="submit" >Create Comment</button>
        <% end %>
  

 


	 <h4> To Edit The Recipe: <h4> 
<%= link_to 'Edit',  edit_user_recipe_path(@recipe.user, @recipe) if @recipe.user %>
<h4> To Delete This Recipe <h4> 
<%= link_to 'Delete', user_recipe_path(@recipe.user, @recipe), method: :delete, data:{confirm: "Are you sure?"} %>
<p> 
<%= link_to "All Recipes", user_recipes_path(@recipe.user) %>     </p>

<%= link_to "Log out", signout_path %> 