<a href="#" class="js-next" data-id="<%=@recipe.id%>">Next Recipe</a>

<div class="details-recipe">
<div class="recipeName">
<h1><%= @recipe.name %></h1>
</div>

<h4>Description</h4>
<div class="recipeDescription">
<%= @recipe.description %> 
</div><br> 
		
			<div class= "chefName"><strong>Created by: Chef <%= @recipe.user.name %> <br>
			<p> Click Below To Veiw The Chef </p> 
			<%= link_to @recipe.user.name, user_path(@recipe.user) %> 
			</strong>  
		</div>  
	  
	  <h4>Ingredients</h4>
	  
  <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
	<ul>
    <li class="recipeIngredeints"> <%= "#{recipe_ingredient.quantity} #{recipe_ingredient.ingredient.name}" %></li>
  <% end %>
</ul> 
	 <h4>Directions </h4>
			<p> <div class= "recipeSteps"> <%= @recipe.directions %> </div> </p>
			
		<h4> Cook Time <h4> 
		<div class= "recipe-cook-time"> <%= @recipe.cook_time %> </div>  
</div> 

		<h2>Comment(s)</h2>
		<hr> 
		<div id= "submited-comments"> 
		<% @recipe.comments.each do |comment| %>
			<blockquote>
			<div class= "commentDetials" id="comment-<%= comment.id %>"> 
			<strong class= "commentUserName"><%= comment.user.name %></strong>
			 commented: <span class= "commentBody"><br>
			<%= comment.body %> </span>	
			</div> 
			</blockquote>
			<% end %>
</div> 
		
      <h4>Add a comment:</h4>
        <%= form_for @comment, url: user_recipe_comments_path(@recipe.user, @recipe, @comment)  do |f| %>
           <p><%= f.text_area :body %></p>
          <button type="submit" class="btn btn-sm btn-primary" >Create Comment</button>
        <% end %>
  


	 <h4> To Edit The Recipe: <h4> 
<%= link_to 'Edit',  edit_user_recipe_path(@recipe.user, @recipe) if @recipe.user %>
<h4> To Delete This Recipe <h4> 
<%= link_to 'Delete', user_recipe_path(@recipe.user, @recipe), method: :delete, data:{confirm: "Are you sure?"} %>
<p> 
<%= link_to "All Recipes", recipes_path %>     </p>

<%= link_to "Log out", signout_path %> 
