

<h1> "Welcome <%= @user.name %> " </h1> 

<h2>Email: <%= @user.email %></h2>
  <h2>GitHub  UID: <%= @user.uid %></h2>
  <img src="<%= @user.image %>">

<p> <h3> 
  You have <%= @recipes.count %> Recipie(s) <h3> </p>
  <p>  
  <h3> Recipes: </h3> 
  <% @recipes.each do |recipe|  %> </p>
 <li> <%= link_to recipe.name, user_recipe_path(@user, recipe) %> </li> 
  <% end %> 

    <p> 

<%= link_to "Add Recipe", new_user_recipe_path(@user) %> </p> 

<%= link_to "Log out", signout_path %> 